[Unit]
Description=Run all external feeds nightly

[Timer]
OnCalendar=*-*-* 03:10:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
